﻿
<div>
    <h1>Bienvenido a Adivinator</h1>
</div>

<div class="container">
    <form method="post" name="LoginForm" id="LoginForm" action='@Url.Action("Login","Game")'>
        <div>
            <br />
            <label for="Name">Nombre</label>
            <input type="text" required class="form-control" name="Name" id="Name" placeholder="Ingresa tu nombre" runat="server">
        </div>
        <div>
            <br />
            <input type="submit" class="btn btn-warning" name="play" />
        </div>

    </form>


</div>
<body style = "background-image:url(/Images/adivino.jpg); background-repeat:no-repeat; background-position: center"></body>
