﻿@model TP_Adivinator.Models.Match
@using TP_Adivinator.Models;

<div align="right">
    <a class="btn btn-danger" href='@Url.Action("LogOut", "Game")' role="button">Log Out</a>
</div>


<div>
    <h3>Jugador: @Model.player.Name</h3>

    <h4>Elegi un número entre 1 y 100</h4>
</div>
<div>
    <label for="attempts">Intentos restantes: @Model.GetAttempts()</label>
</div>



<div class="container">
    <form method="post" action='@Url.Action("Play")'>
        @if ((Model.GetAttempts()) > 0 && @Model.Won != true)
        {
            <input type="number" required name="number" id="number" />
            <asp:RangeValidator ID="RangeValidator1" runat="server" ControlToValidate="number"
                                ErrorMessage="Enter value in specified range" ForeColor="Red" MaximumValue="199" MinimumValue="101"
                                SetFocusOnError="True" Type=" Integer"></asp:RangeValidator>
            <br />

            <input type="submit" class="btn btn-primary" name="buttonrUser" id="buttonUser" />
            <br />
        }
        <label for="result">@ViewBag.Result</label>
    </form>
</div>


    @if (@Model.Won != true)
    {
        <body style = "background-image:url(/Images/thinking.jpg)"></body>
        
    }

    @if (@Model.Won != false)
    {
        <body style = "background-image:url(/Images/won.png); background-repeat:no-repeat; background-position: center"></body>
        
    }


<div>
    <h5>Partidas ganadas en esta sesion: @Session["WonMatches"]</h5>
    <h5>Record en este navegador: @Session["NavRecord"]</h5>
</div>

<div>

    <h4>Numeros jugados :</h4>
    <ul class="list-inline">
        @foreach (var attempt in (Model.attempts))
        {
            <li class="list-inline-item">@attempt</li>
        }
    </ul>
</div>

<div>
   
        <input type="button" class="btn btn-primary" value="Volver a jugar" onclick="location.href='@Url.Action("MatchLoad", "Game")'" />
</div>

<div align="right">
    <input type="button" class="btn btn-warning" value="Ranking" onclick="location.href='@Url.Action("Ranking", "Game")'" />
</div>








