﻿


<h2>Ranking</h2>

<div class="container">
    <div>
        <table class="table table-striped">
            <tr>
                <th>Nombre</th>
                <th>Partidas Ganadas</th>

            </tr>
            
            
            <tr>
                <td>@ViewBag.bestPlayer</td>

                <td>@ViewBag.bestScore</td>
                

            </tr>
           
        </table>
    </div>
</div>

